<section class="flex">
    <div class="py-8 px-8 mx-auto sm:py-16 lg:px-6">
        <div class=" bg-gray-950 py-5 px-12 rounded-xl">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white dark:text-white">Let's find more that
                brings us together.</h2>
            <p class="mb-8 font-light text-gray-200 sm:text-xl dark:text-gray-400">Ready to transform your fitness routine? Mythomorphosis is here to help you reach new heights. Take charge of your workouts, set ambitious goals, and watch your progress soar. Join our community today and unleash your full potential!</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a routerLink="/signup"
                    class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center bg-gray-800 text-white border border-gray-500 rounded-lg hover:bg-gray-600 focus:ring-4 focus:ring-gray-100">
                    Create your account
                </a>
            </div>
        </div>
    </div>
</section>