<aside id="sidebar" class="top-0 left-0 z-40 w-64 h-full transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <a href="https://www.youtube.com/watch?v=qJ1GBL1TPLg&ab_channel=Fredagain.." class="flex items-center ps-2.5 mb-5">
            <span class="self-center text-xl font-bold whitespace-nowrap dark:text-white">Wissem MTIRI</span>
        </a>
        <ul class="space-y-2 font-medium">

            <li>
                <a routerLink="/profile"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/profile.png" alt="profile"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Profile</span>
                </a>
            </li>

            <hr>

            <li>
                <a routerLink="/dashboard"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/dashboard-interface.png" alt="dashboard"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>

            <li>
                <a routerLink="/sciencehub"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/science-report.png" alt="science"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Scientific Articles</span>
                </a>
            </li>

            <li>
                <a routerLink="/bookmarks"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/heart.png" alt="science"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Bookmarks</span>
                </a>
            </li>

            <hr>

            <li>
                <a routerLink="/workout/start"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/yoga-position.png" alt="start-workout"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Start a workout</span>
                </a>
            </li>

            <li>
                <a routerLink="/workout/log"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/pencil.png" alt="calories"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Log a session</span>
                </a>
            </li>

            <hr>

            <li>
                <a routerLink="/caloriestracker"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/calories-calculator.png" alt="calories"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Calories Calculator</span>
                </a>
            </li>

            <li>
                <a routerLink="/fridge"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../assets/sidenav/thai-food.png" alt="fridge"
                        class="w-5 h-5 text-gray-500 transition duration-75">
                    <span class="ms-3">Fridge</span>
                </a>
            </li>

            <hr>

            <li>
                <a href="#"
                    class="flex items-center p-2 text-violet-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap text-violet-600">Sign Out</span>
                </a>
            </li>

        </ul>
    </div>
</aside>