<section class="h-screen bg-cover bg-[url('src/assets/landing_page/bg.jpg')] bg-gray-900/95 bg-blend-multiply">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-white">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            MythoMorphosis
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white uppercase">
                    Create your account
                </h1>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6" novalidate>
                    <div class="input-field" [class.error]="signUpForm.controls['firstName'].invalid && (signUpForm.controls['firstName'].dirty || signUpForm.controls['firstName'].touched)">
                        <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Firstname</label>
                        <input formControlName="firstName" type="text" name="firstname" id="firstname"
                            class="input-border bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Foulen" required>
                        <div *ngIf="signUpForm.controls['firstName'].invalid && (signUpForm.controls['firstName'].dirty || signUpForm.controls['firstName'].touched)" class="text-red-500 text-sm">*First name is required</div>
                    </div>
                    <div class="input-field" [class.error]="signUpForm.controls['lastName'].invalid && (signUpForm.controls['lastName'].dirty || signUpForm.controls['lastName'].touched)">
                        <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Lastname</label>
                        <input formControlName="lastName" type="text" name="lastname" id="lastname"
                            class="input-border bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Ben Foulen" required>
                        <div *ngIf="signUpForm.controls['lastName'].invalid && (signUpForm.controls['lastName'].dirty || signUpForm.controls['lastName'].touched)" class="text-red-500 text-sm">*Last name is required</div>
                    </div>
                    <div class="input-field" [class.error]="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            email</label>
                        <input formControlName="email" type="email" name="email" id="email"
                            class="input-border bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@mail.com" required>
                        <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)" class="text-red-500 text-sm">*Email is required</div>
                    </div>
                    <div class="input-field" [class.error]="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)">
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••"
                            class="input-border bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required>
                        <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)" class="text-red-500 text-sm">*Password is required</div>
                    </div>
                    <div class="input-field" [class.error]="signUpForm.controls['passwordConfirm'].invalid && (signUpForm.controls['passwordConfirm'].dirty || signUpForm.controls['passwordConfirm'].touched)">
                        <label for="passwordConfirm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm your password</label>
                        <input formControlName="passwordConfirm" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="••••••••"
                            class="input-border bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required>
                        <div *ngIf="signUpForm.hasError('passwordMismatch')" class="text-red-500 text-sm">*Passwords do not match</div>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-gray-800 hover:bg-gray-600  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign up</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already a member? <a routerLink="/login"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign in</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
